#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: rgba(236, 229, 223, 0.962);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 215, 205);
  width: 90vw;
  align-self: center;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  gap: 20px;
}

.cardHolder {
  display: flex;
  width: 80vw;
  gap: 0px;
  justify-content: space-around;
}